{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<style>
      .create_book{
        height:700px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        width:400px;
        opacity:1;
        padding:20px, 30px;
        background-color:white;
        box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
        border-radius:10px;
    }

    .create_book.active{
        top:50%;
        opacity:1;
        transform:translate(-50%, -50%) scale(1);
        transition: top 0ms ease-in-out 200ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 0ms ease-in-out 00ms;
                    }

    .create_book h3{
        height: 35px;
        width: 229px;
        font-family: Mulish;
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        color:#54565B;
        margin: 40px 0px 50px -30px
    }


    .create_book{
       margin:15px;

    }

    .create_book label{
       margin-left:30px;
    }

     .create_book textarea,
      .create_book select,
      .create_book input[type=text]{
        border:1px solid #2A639C;
        height: 30px;
        width: 300px;
        padding:5px;
        border-radius: 15px;
        margin-top:5px;
        margin-left:30px;

    }

     .create_book input[type=file]{
           margin-left:30px;
     }



    .create_book input[type=submit]{
        border:1px solid #2A639C;
        background:#2A639C;
        margin-top:5px;
        height: 38px;
        width: 330px;
        border-radius: 8px;
        color:white;
        margin-left:20px;


    }

    .create_book input[type=submit]:hover{
        cursor:pointer;

    }

    .create_book a{
        text-decoration:none;
    }

     .pop--up--sign--up a{
       text-decoration:none;
       margin-top:-5px;
    }


    #back-to-signin{
        height: 13px;
        width: 6px;
        margin-right:10px;

    }

    #create_book_home{
       text-decoration:none;
       margin-left:110px;
       margin-top:15px;

    }


    #create_book_home_img{
        height: 13px;
        width: 6px;
        margin-right:10px;
        margin-bottom: -1px;

    }

</style>

<div class="create_book">

    <h3>Create Book</h3>

    <i class="glyphicon glyphicon-remove"></i>

    <form action="" method="POST">
    {% csrf_token %}


    <label>Title</label>
    <br>
    {{form.title}}
    <br>
    <br>

    <label>Genre</label>
    <br>
    {{form.genre}}
    <br>
    <br>

    <label>Authors</label>
    <br>
    {{form.authors}}
    <br>
    <br>

    <label>Thumbnail</label>
    <br>
    {{form.thumbnail}}
    <br>
    <br>

    <label>Descripton</label>
    <br>
    {{form.description}}
    <br>
    <br>

    <label>ISBN13</label>
    <br>
    {{form.isbn13}}
    <br>
    <br>

    <br>
    <input type="submit" value="Create Book">
</form>


    <p id="create_book_home"><a href="{% url 'accounts:sign_in' %}">
        <img id='create_book_home_img' src="{% static 'images/img_1.png'%}" alt="Sign In">Back To HomePage</a></p>

</div>

{% endblock %}