{% extends "base_generic.html" %}


{% block content %}
<style>

     .book_edit_form{
        height:1390px;
        position:absolute;
        top:100%;
        left:50%;
        transform:translate(-50%, -50%);
        width:400px;
        opacity:1;
        padding:20px, 30px;
        background-color:white;
        box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
        border-radius:10px;
    }

    .book_edit_form.active{
        top:50%;
        opacity:1;
        transform:translate(-50%, -50%) scale(1);
        transition: top 0ms ease-in-out 200ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 0ms ease-in-out 00ms;
                    }

    .book_edit_form h3{
        height: 35px;
        width: 229px;
        font-family: Mulish;
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        color:#54565B;
        margin: 40px 0px 50px -30px
    }


    .book_edit_form{
       margin:15px;

    }

    .book_edit_form label{
       margin-left:30px;
    }

     .book_edit_form textarea,
      .book_edit_form select,
      .book_edit_form input[type=text],
      .book_edit_form input[type=number]{
        border:1px solid #2A639C;
        height: 30px;
        width: 300px;
        padding:5px;
        border-radius: 15px;
        margin-top:5px;
        margin-left:30px;

    }


     .book_edit_form input[type=file]{
           margin-left:50px;
     }



    .book_edit_form input[type=submit]{
        border:1px solid #2A639C;
        background:#2A639C;
        margin-top:5px;
        height: 38px;
        width: 330px;
        border-radius: 8px;
        color:white;
        margin-left:20px;


    }

    .book_edit_form input[type=submit]:hover{
        cursor:pointer;

    }

    .book_edit_form a{
        text-decoration:none;
    }

     .pop--up--sign--up a{
       text-decoration:none;
       margin-top:-5px;
    }


    #back-to-signin{
        height: 13px;
        width: 6px;
        margin-right:10px;

    }

    #create_book_home{
       text-decoration:none;
       margin-left:110px;
       margin-top:15px;

    }


    #create_book_home_img{
        height: 13px;
        width: 6px;
        margin-right:10px;
        margin-bottom: -1px;

    }






</style>


<div class="book_edit_form">
    <h3> Edit Book</h3>
    <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}

    <label>Title</label>
    <br>
    {{form.title}}
    <br>
    <br>

    <label>Genre</label>
    <br>
    {{form.genre}}
    <br>
    <br>

    <label>Authors</label>
    <br>
    {{form.authors}}
    <br>
    <br>

    <label>Thumbnail</label>
    <br>
    {{form.thumbnail}}
    <br>
    <br>

    <label>Description</label>
    <br>
    {{form.description}}
    <br>
    <br>

    <label>ISBN</label>
    <br>
    {{form.isbn}}
    <br>
    <br>

    <label>ISBN13</label>
    <br>
    {{form.isbn13}}
    <br>
    <br>

    <label>Average rating</label>
    <br>
    {{form.average_rating}}
    <br>
    <br>

    <label>Ratings Count</label>
    <br>
    {{form.ratings_count}}
    <br>
    <br>

    <label>Language Code</label>
    <br>
    {{form.language_code}}
    <br>
    <br>

    <label>Number Of Pages</label>
    <br>
    {{form.num_of_pages}}
    <br>
    <br>

    <label>Publisher</label>
    <br>
    {{form.publisher}}
    <br>
    <br>

    <label>Publication Date</label>
    <br>
    {{form.publication_date}}
    <br>
    <br>

    <label>Quantity</label>
    <br>
    {{form.quantity}}
    <br>
    <br>


    <br>
    <input type="submit" value="Update">


</form>
</div>
{% endblock %}