{% extends "base_generic.html" %}
{% load static %}


{% block content %}
  <style>
  .home--grid{
    display: grid;
    grid-template-columns:0.5fr 3fr;
    background-color:white;
  }



  .books--grid--top--image{
    height: 333px;
    width: 1250px;
  }

  .books--grid h2{
    margin-left:10px;
    margin-top:70px;
  }


  .library--status{
    height: 70px;
    width: 400px;
    background-color:#FFFFFF;
    color:#1E5288;
    margin:-200px 00px 0px 0px;
    position: relative;

    z-index: 0;
    padding:5px;
  }

  .library--status h3{
    font-family: Sora;
    font-size: 20px;
    font-weight: 700;
    line-height: 48px;
    text-align: left;
    margin-top:-15px;
    margin-left: 30px;
  }

  .status_dud{
     height: 12px;
     width: 12px;
     margin-left: 30px;
     margin-top:-10px;
  }

  #create_book_image {
    height: 40px;
    width: 40px;
    margin-left:200px;
    margin-top:-986410px;
    position:relative;


  }

  #create_book_image:hover {
    cursor:pointer;

  }

  .library--status p{
    font-family: Sora;
    font-size: 17px;
    font-weight: 400;
    line-height: 27px;
    font-family: Sora;
    text-align: left;
    {% if is_open %}
      color:#3D7500;
    {% else %}
      color:red;
    {% endif %}
    margin: -22px 0px 25px 48px;


  }


  .library--search--appointment{
      display:grid;
      grid-template-columns:2fr 1fr;
      margin:30px 0px;
  }

  .library--search{
      height:220px;
      background-color: #0C234B;


  }

  .library--search form{
      position:relative;

  }

  .library--search h3{
      height: 41px;
      width: 234px;
      font-family: Sora;
      font-size: 32px;
      font-weight: 600;
      line-height: 40px;
      letter-spacing: 0em;
      text-align: left;
      color:white;
      margin-left:25px;

  }

  .library--search input[type=text]{
      height: 60px;
      width: 800px;
      border-radius:8px;
      margin-top: 10px;
      margin-left:22px;
  }


   .library--search button{
      height:30px;
      float: right;
      margin: -40px 90px 0px 0px;
      background-color: #790417;
      color: #FFFFFF;
      padding:5px;
      border-radius:5px;
      z-index:1000;
      position: absolute;
      top: 68px;
      right: -40px;
      z-index: 1000;
      cursor:pointer;
  }


  .library--appointment{
      width: 387px;
      margin-left: 10px;
  }

  .working--hours{
    margin:5px;
    background-color:#E2E9EB;
    padding:10px;

  }

  .working--hours h3{
    height: 30px;
    width: 168px;
    font-family: Sora;
    font-size: 24px;
    font-weight: 600;
    line-height: 30px;
    text-align: left;
    color: #001C48;
  }

  .first--p{
    height: 20px;
    width: 116px;
    font-family: Sora;
    font-size: 16px;
    font-weight: 300;
    line-height: 15px;
    text-align: left;
    color:#001C48;
  }

  .second--p{
      height: 19px;
      width: 240px;
      font-family: Milo OT;
      font-size: 16px;
      font-weight: 400;
      line-height: 20px;
      text-align: left;
      color:#333333;
  }


  .library--appointment button{
    background-color:#790417;
    height: 30px;
    width: 180px;
    margin: 5px;
    color:white;
    border: 1px solid #790417;
  }

  .library--appointment span{
      font-family: Sora;
      font-size: 12px;
      font-weight: 400;
      line-height: 15px;
      text-align: left;
  }

  .super--books--container{
     display:grid;
     grid-template-columns:0.5fr 0.5fr 0.5fr 0.5fr 0.5fr;
     column-gap: 5px;
     row-gap:20px;
  }


  .book--container{
     height: 300px;
     width:215px;
     border-radius: 10px;
     padding:5px;
  }

  .book--container a:hover{
     cursor:pointer
  }


   .book--container img{
      height:200px;
      width:200px;
      padding:10px;
      border-radius:25px;
   }


   .book--container p{
      font-family: Sora;
      font-size: 17px;
      font-weight: 600;
      line-height: 30px;
      text-align: left;
      display: flex;
      justify-content:center;
      align-items:center;
      margin-top: 0px;
   }


   .book--container span{
        color:white;
   }

   .book--container button{
      margin-left:7px;
      margin-bottom:3px;
      background-color: #FD5252;
      height: 26px;
      width: 200px;
      border:1px solid #FD5252;
      border-radius:5px;
      cursor:pointer;
   }

    .create_book textarea,
    .create_book select,
    .create_book input[type=text]{
        border:1px solid #2A639C;
        height: 30px;
        width: 300px;
        padding:5px;
        border-radius: 15px;
        margin-top:5px;
        margin-left:30px;

    }

    .create_book input[type=file]{
           margin-left:30px;
    }

    .create_book{
       margin:15px;

    }

    .create_book label{
       margin-left:30px;
    }



    .create_book input[type=submit]{
        border:1px solid #2A639C;
        background:#2A639C;
        margin-top:5px;
        height: 38px;
        width: 330px;
        border-radius: 8px;
        color:white;
        margin-left:20px;


    }

    .create_book input[type=submit]:hover{
        cursor:pointer;

    }

    .create_book a{
        text-decoration:none;
    }

     .create_book a{
       text-decoration:none;
       margin-top:-5px;
    }


    #back-to-signin{
        height: 13px;
        width: 6px;
        margin-right:10px;

    }

    #create_book_home{
       text-decoration:none;
       margin-left:110px;
       margin-top:15px;

    }

    #create_book_home_img{
        height: 13px;
        width: 6px;
        margin-right:10px;
        margin-bottom: -1px;

    }

   .create_book{
        height:670px;
        position:absolute;
        top:-150%;
        left:50%;
        transform:translate(-50%, -50%);
        width:400px;
        opacity:0;
        padding:20px, 30px;
        background-color:white;
        box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
        border-radius:10px;
    }

   .create_book.active{
        top:50%;
        opacity:1;
        transform:translate(-50%, -50%) scale(1);
        transition: top 0ms ease-in-out 200ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 0ms ease-in-out 00ms;
   }



   .import_api_data{
        height:500px;
        position:absolute;
        top:-150%;
        left:50%;
        transform:translate(-50%, -50%);
        width:400px;
        opacity:0   ;
        padding:20px, 30px;
        background-color:white;
        box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
        border-radius:10px;
   }

   .import_api_data.active{
        top:50%;
        opacity:1;
        transform:translate(-50%, -50%) scale(1);
        transition: top 0ms ease-in-out 200ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 0ms ease-in-out 00ms;
   }

   .import_api_data h3{
        height: 35px;
        width: 229px;
        font-family: Mulish;
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        color:#54565B;
        margin: 40px 0px 50px 60px
   }


   .import_api_data{
       margin:15px;

   }

   .import_api_data label{
       margin-left:30px;
   }

   .import_api_data input[type=number],
   .import_api_data input[type=text]{
        border:1px solid #2A639C;
        height: 30px;
        width: 300px;
        padding:5px;
        border-radius: 15px;
        margin-top:5px;
        margin-left:30px;

   }



   .import_api_data input[type=submit]{
        border:1px solid #2A639C;
        background:#2A639C;
        margin-top:5px;
        height: 38px;
        width: 330px;
        border-radius: 8px;
        color:white;
        margin-left:20px;


   }

   .import_api_data input[type=submit]:hover{
        cursor:pointer;

   }

    .import_api_data a{
        text-decoration:none;
   }




   #back-to-signin{
        height: 13px;
        width: 6px;
        margin-right:10px;

   }

   #import_books{
       text-decoration:none;
       margin-left:110px;
       margin-top:25px;

   }


   #import_books_image_img{
        height: 13px;
        width: 6px;
        margin-right:10px;
        margin-bottom: -1px;

   }




</style>


  <div class="home--grid">

  {% include 'genre_component.html' %}

  <div class="books--grid">

    {% include 'navbar.html' %}

    <img src="{% static 'images/container.png' %}" alt="Vilgax Library"  class="books--grid--top--image">

    <div class="library--status">
      <h3>Vilgax Library</h3>
      {% if is_open %}
      <img src="{% static 'images/img_2.png' %}" alt="Now Open" class="status_dud">
      <p>Open Now</p>
      {% else %}
      <img src="{% static 'images/img_13.png' %}" alt="Currently Closed" class="status_dud">
      <p>Currently Closed</p>
      {% endif %}

        <img src="{% static 'images/img_12.png' %}" alt="create_book" id="create_book_image">
    </div>

    <div class="library--search--appointment">
      <div class="library--search">

        <h3>Library Search</h3>

        <form action="" method="GET" >
        <input type="text" name="search" placeholder="Enter the author, title or genre">
          <button type="submit">Search</button>
          </form>


      </div>


      <div class="library--appointment">
        <div class="working--hours">
          <h3>Today's Hours</h3>

          <p class="first--p">Library access<span>{%if is_open %} currently open {% else %} Currently Closed {% endif %}</span></p>
          <p class="second--p">Opens at {{open_time}}, Closes at {{close_time}}</p>
        </div>

        <button type="submit" class="appointment--study-room"><span>Book a study room</span></button>
        <button type="submit" class="appointment--tutor"><span>Find a Tutor</span></button>

      </div>




    </div>




    <h2>Books available ({{books.count}}) </h2>

    <div class="super--books--container">
          {% for book in books %}
            {% if book.quantity_available > 0 %}
              <div class="book--container">
             <a href="{% url 'management_system:book_detail' book.bookID %}" >
            <img src="{% static 'images/image 17.png' %}" alt="{{book}}">
                  </a>
            <p>{{book.title|truncatechars:20}}</p>
<!--            <a href="{% url 'management_system:edit_book_details' book.bookID %}">Edit book</a>-->
<!--            <a href="{% url 'management_system:delete_book' book.bookID %}">Delete book</a>-->

            {% if book.bookID not in members_book_request %}
                  <a href="{% url 'management_system:book_request' book.bookID %}"><button><span>Request Book</span></button></a>
                  {% else %}
                  <a href="{% url 'management_system:book_request' book.bookID %}"><button style="background-color:#AB0520;"><span>Requested</span></button></a>
            {% endif %}
          </div>
            {% endif %}
          {% empty %}
              <div class="book--container">
            <p>No Book available at the moment</p>
          </div>
          {% endfor %}
    </div>


    <h2>Popular Books </h2>

    <div class="super--books--container">
          {% for book in popular_books %}
          <div class="book--container">
              <a href="{% url 'management_system:book_detail' book.bookID %}" >
            <img src="{% static 'images/image 17.png' %}" alt="{{book}}">
                  </a>
            <p>{{book.title|truncatechars:20}}</p>

<!--            <a href="{% url 'management_system:edit_book_details' book.bookID %}">Edit book</a>-->
<!--            <a href="{% url 'management_system:delete_book' book.bookID %}">Delete book</a>-->

            {% if book.bookID not in members_book_request %}
              <a href="{% url 'management_system:book_request' book.bookID %}"><button><span>Request Book</span></button></a>
              {% else %}
              <a href="{% url 'management_system:book_request' book.bookID %}"><button style="background-color:#AB0520;"><span>Requested</span></button></a>
            {% endif %}
          </div>
          {% empty %}
          <div class="book--container">
            <p>No Book available at the moment</p>
          </div>
          {% endfor %}
    </div>

        {% include "footer.html" %}

  </div>




</div>

<div class="create_book">

    <h3>Create Book</h3>

    <form action="{% url 'management_system:add_book' %}" method="POST">
    {% csrf_token %}


    <label>Title</label>
    <br>
    {{form.title}}
    <br>
    <br>

    <label>Genre</label>
    <br>
    {{form.genre}}
    <br>
    <br>

    <label>Authors</label>
    <br>
    {{form.authors}}
    <br>
    <br>

    <label>Thumbnail</label>
    <br>
    {{form.thumbnail}}
    <br>
    <br>

    <label>Descripton</label>
    <br>
    {{form.description}}
    <br>
    <br>

    <label>ISBN13</label>
    <br>
    {{form.isbn13}}
    <br>
    <br>

    <br>
    <input type="submit" value="Create Book">
</form>


    <p id="create_book_home"><a href="{% url 'management_system:home' %}">
        <img id='create_book_home_img' src="{% static 'images/img_1.png'%}" alt="Sign In">Back To HomePage</a></p>

</div>


<div class="import_api_data">

  <h3>Import API Data</h3>

    <form action="" method="POST" enctype="multipart/form-data">
  {% csrf_token %}
  <label>Name</label>
  <br>
  {{api_form.name}}
  <br>
  <br>

  <label>Number Of Books</label>
  <br>
  {{api_form.number_of_books}}
  <br>
  <br>

  <label>Api Link</label>
  <br>
  {{api_form.api_link}}
  <br>
  <br>


  <input type="submit" value="Import">
</form>

    <p id="import_books"><a href="">
        <img id='import_books_image_img' src="{% static 'images/img_1.png'%}" alt="Sign In">Back To HomePage</a></p>

</div>

<script>

     document.querySelector("#create_book_image").addEventListener("click", function(){

        document.querySelector(".create_book").classList.add("active");

    });


    document.querySelector("#create_book_home_img").addEventListener("click", function(){

        document.querySelector(".create_book").classList.remove("active");

    });

    console.log("running")
     document.querySelector("#import_api_data_nav").addEventListener("click", function(){

        document.querySelector(".import_api_data").classList.remove("active");

    });

    document.querySelector("#import_books").addEventListener("click", function(){

        document.querySelector(".import_api_data").classList.remove("active");

    });



</script>
{% endblock %}




