{% extends 'base_generic.html' %}

{% block content %}
<table>

    <h2>Library Stock</h2>
    <thead>
        <tr>
            <th>S/N</th>
            <th>Title</th>
            <th>Quantity in the library</th>
            <th>Quantity lent out</th>
            <th>Total stock</th>
        </tr>
    </thead>

    <tbody>

            {% for book in all_books %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{book.title}}</td>
                <td>{{book.quantity_available}}</td>
                <td>{{book.quantity_lent_out}}</td>
                <td>{{book.quantity}}</td>
            </tr>
            {% empty %}
            <td colspan="5">No Book In The Library</td>
            {% endfor %}


    </tbody>
</table>

<br>
<br>

<table>

    <h2>Popular Books</h2>
    <thead>
        <tr>
            <th>S/N</th>
            <th>Title</th>
            <th>Times Lent</th>
            <th>Quantity in the library</th>
             <th>Total stock</th>
        </tr>
    </thead>

    <tbody>

            {% for book in popular_books %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{book.title}}</td>
                <td>{{book.times_borrowed}}</td>
                <td>{{book.quantity_available}}</td>
                <td>{{book.quantity}}</td>
            </tr>
            {% empty %}
            <td colspan="5">No Book In This Section</td>
            {% endfor %}


    </tbody>
    <a href="{% url 'management_system:popular_books_pdf' %}"><button type="submit"> Download Popular Books Pdf</button></a>
</table>

<br>
<br>

<table>
    <h2>High Paying Customers</h2>
    <thead>
        <tr>
            <th>S/N</th>
            <th>Name</th>
            <th>Wallet ID</th>
            <th>Amount Spent</th>
            <th>Current Balance</th>
        </tr>
    </thead>

    <tbody>

            {% for customer in high_paying_customers %}
            <tr>
                <td>{{forloop.counter}}</td>
                <td>{{customer.owner.username}}</td>
                <td>{{customer.wallet_number}}</td>
                <td>{{customer.sum_of_debit}}</td>
                <td>{{customer.balance}}</td>
            </tr>
            {% empty %}
            <td colspan="4">No User fits this description</td>
            {% endfor %}


    </tbody>
    <a href="{% url 'management_system:high_paying_customers_pdf' %}"><button type="submit"> Download High Paying Customer Pdf</button></a>
</table>

<canvas id="myChart" width="400" height="100">Hello</canvas>
{% endblock %}


<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
console.log("got here")
$(document).ready(function(){
        var ctx = document.getElementById('myChart').getContext('2d');
        console.log("got here")
        var myChart = new Chart(ctx, {
            type: 'doughnut',
            data: {
                labels: [{% for customer in high_paying_customers %}'{{customer.owner.username}}', {%endfor%}] ,
                console.log("got here")
                datasets: [{
                    label: 'Customers',
                    data: [{% for customer in high_paying_customers %}'{{customer.owner.username}}', {%endfor%}],
                    console.log("got here")
                    backgroundColor: [
                        'rgba(255, 99, 132, 0.2)',
                        'rgba(54, 162, 235, 0.2)',
                        'rgba(255, 206, 86, 0.2)',
                        'rgba(75, 192, 192, 0.2)',
                        'rgba(153, 102, 255, 0.2)',
                        'rgba(255, 159, 64, 0.2)'
                    ],
                    borderColor: [
                        'rgba(255, 99, 132, 1)',
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(255, 159, 64, 1)'
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            }
});
    });
</script>