{% extends "base_generic.html" %}
{% load static %}

{% block content %}
<style>
      .pop--up--forgot--password{
        height:480px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        width:500px;
        padding:20px, 30px;
        background-color:white;
        box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
        border-radius:10px;
    }



    .pop--up--forgot--password img{
        height: 80px;
        width: 150px;
        margin-left: 130px;
        margin-top: 20px;
    }


    .pop--up--forgot--password h3{
        height: 35px;
        width: 229px;
        font-family: Mulish;
        font-size: 20px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        color:#54565B;
        margin: -10px 0px 0px 100px
    }


     .pop--up--forgot--password p{
        font-family: Mulish;
        font-size: 16px;
        font-weight: 400;
        line-height: 29px;
        text-align: center;
        color:#9FA19C;
    }

    #f-p-p-p--term--2{
        margin-top:-15px;
        margin-bottom:20px;
    }



    .forgot-password--form{
       margin:15px;

    }

    .forgot-password--form label{
       margin-top:20px;
       margin-left:160px;
       margin-bottom:17px;
    }


    .forgot-password--form span{
        font-size:16px;

    }


     .forgot-password--form input[type=email]{
        border:1px solid #2A639C;
        height: 40px;
        width: 300px;
        border-radius: 15px;
        margin-top:5px;
        margin-left:70px;

    }



    .forgot-password--form input[type=submit]{
        border:1px solid #2A639C;
        background:#2A639C;
        margin-top:5px;
        height: 38px;
        width: 330px;
        border-radius: 8px;
        color:white;
        margin-left:60px;
        cursor:pointer;


    }

    #f-p-signup-paragraph{
       text-decoration:none;
       margin-left:-140px;
       margin-top:-5px;

    }

     .pop--up--forgot--password a{
       text-decoration:none;
       margin-top:-5px;
    }


    #f-p-back-to-signin{
        height: 13px;
        width: 6px;
        margin-right:10px;
        margin-bottom: -1px;

    }


</style>

<div class="pop--up--forgot--password">
    <img src="{% static 'images/v logo.png'%}" alt="Vilgax Library Sign Up Form">
    <div class="forgot-password--form">
        <form action="" method="POST" enctype="multipart/form-data" >
            {% csrf_token %}

              <h3>Forgot Password</h3>
            <p id="f-p-p--term-1">Enter your email below,</p>
            <p id="f-p-p--term--2">We will send instructions for setting a new Password</p>

            <br>
            <label><span>Registered Email</span></label>
            <br>
            <br>
            <input type="email" placeholder="Enter a registered email">
            <br>
            <br>

            <input type="submit" value="Submit">


        </form>
        </div>

    <p id="f-p-signup-paragraph"><a href="{% url 'accounts:sign_in' %}"><img id='f-p-back-to-signin' src="{% static 'images/img_1.png'%}" alt="Sign In">Back To Sign In</a></p>

</div>
{% endblock %}