{% extends 'base_generic.html' %}
{% load static %}


{% block content %}
<style>
      .renewal--form{
        height:325px;
        position:absolute;
        top:50%;
        left:50%;
        transform:translate(-50%, -50%);
        width:400px;
        opacity:1;
        padding:20px, 30px;
        background-color:white;
        box-shadow:2px 2px 5px 5px rgba(0,0,0,0.15);
        border-radius:10px;
    }

    . .renewal--form.active{
        top:50%;
        opacity:1;
        transform:translate(-50%, -50%) scale(1);
        transition: top 0ms ease-in-out 200ms,
                    opacity 200ms ease-in-out 0ms,
                    transform 0ms ease-in-out 00ms;
                    }

     .renewal--form h3{
        height: 35px;
        width: 229px;
        font-family: Mulish;
        font-size: 22px;
        font-weight: 700;
        line-height: 29px;
        text-align: center;
        color:#54565B;
        margin: 40px 0px 50px 60px
    }


    .renewal--form{
       margin:15px;

    }

     .renewal--form label{
       margin-left:30px;
    }


     .renewal--form input[type=number]{
        border:1px solid #2A639C;
        height: 30px;
        width: 300px;
        padding:5px;
        border-radius: 15px;
        margin-top:5px;
        margin-left:30px;

    }


     .renewal--form input[type=submit]{
        border:1px solid #2A639C;
        background:#2A639C;
        margin-top:5px;
        margin-bottom:19px;
        height: 38px;
        width: 330px;
        border-radius: 8px;
        color:white;
        margin-left:20px;


    }

    .renewal--form input[type=submit]:hover{
        cursor:pointer;

    }

    .renewal--form a{
       text-decoration:none;
       margin-top:-5px;
    }


    #renewal--paragraph{
       text-decoration:none;
       margin-left:110px;
       margin-top:5px;

    }


    #renewal--image{
        height: 13px;
        width: 6px;
        margin-right:10px;
        margin-bottom: -1px;

    }


</style>
<div class="renewal--form">

    <h3>Renewal Form</h3>
    <form action="">
        {% csrf_token %}

        <label>Renewal Days</label>
        <br>
        {{form.renewal_days}}
        <br>
        <br>

        <input type="submit" value="Make request">

        <p id="renewal--paragraph"><a href="{% url 'accounts:books' %}">
            <img id='renewal--image' src="{% static 'images/img_1.png'%}" alt="Sign In">Back To Books Page</a></p>

    </form>

</div>
{% endblock %}